*,
*::before,
*::after {
    box-sizing: inherit;
    cursor: default;
}

html {
    box-sizing: border-box;
    width: 660px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: "Coda", cursive;
    /* Background pattern from Subtle Patterns */
    background: #fff url(../img/geometry2.png);
    background-attachment: fixed;
}

header > h1,
.modal > h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: center;
}

header > h1 {
    /* By design, set equal vertical margin between window top, title, score
     * panel and deck. */
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 660px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    /* Account for flexbox spacing to equalize apparent padding. */
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    /* TODO: Consider animating the opening of a card.
     * transform: rotateY(0); */
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 320px;
    height: 32px;
    line-height: 32px; /* = height to vertically center text in score-panel */
    margin: 0 auto 10px;
}

.score-panel > .emptyField {
    width: 80px; /* score-panel centered about moves and timer fields */
    margin: 0;
    padding-left: 0;
    display: inline-block;
}

.starsField {
    margin: 0;
    padding-left: 0;
    display: inline-block;
}

.starsField > li {
    list-style: none;
    display: inline-block;
}

.movesField {
    display: inline-block;
    width: 80px;
}

.timerField {
    display: inline-block;
    width: 128px; /* sum of field widths = score-panel width */
}

.resetField {
    display: inline-block;
    width: 32px; /* width = height to create a circular border */
    border-radius: 16px;
    text-align: center;
}

.resetField:hover {
    color: white;
    background-color: black;
}

.resetFieldInactive {
    display: inline-block;
    width: 32px;
    text-align: center;
}

.modal {
    position: fixed;
    width: 480px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 10px 13px 18px 0 rgba(46, 61, 73, 0.5);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal > h1 {
    margin: 0;
}

.modal .big { /* jumbo award symbol */
    font-size: 80px;
}

.modalResetField {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    color: #02ccba;
    background-color: #2e3d49;
    border-radius: 10px;
    text-align: center; /* center text horizontally */
    line-height: 32px;  /* center text vertically by line-height = height */
}

.modalResetField:hover { /* highlight reset button */
    color: white;
    background-color: black;
}

.modal > .starsField .fas,
.modal > .starsField .far {
    font-size: 48px;
}
